/* Laptop Scrren :1170px. */
@media (min-width: 1170px) and (max-width: 1400px) {
.container{width:1170px}
.indicator-style .owl-carousel .owl-nav .owl-prev {
  left: -45px;
}
.indicator-style .owl-carousel .owl-nav .owl-next {
  right: -45px;
}
.topbar {
  max-width: 93.5%;
}
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.indicator-style .owl-carousel .owl-nav .owl-prev {
  left: -45px;
}
.indicator-style .owl-carousel .owl-nav .owl-next {
  right: -45px;
}
.testimonial-content > p {
  padding: 0 160px;
}
.project-count h3 {
  font-size: 18px;
}
.gallery-single:hover .popup-gallery, .gallery-single:hover .gallery-image .popup-youtube {
  top: 35%;
}
.person-area {
  width: 21%;
}
.slider.slider-nav.slick-initialized.slick-slider  {
  width: 388px;
}
.slider-nav {
  bottom: 53px;
  right: 16px;
}
.service-content {
  margin: 17px 0;
}
.main-menu nav ul li a {
  padding: 28px 12px;
}
.slide-content h2,.slide-content h1 {
  font-size: 54px;
}
.wrapper-boxed-layout .indicator-style .owl-theme .owl-nav {
  display: none;
}
.home .main-menu {
  padding-right: 70px;
}
.home .logo-img {
  padding-left: 85px;
}
.slide-content {
  padding-left: 100px;
}
.slider-social-area {
  padding-right: 100px;
}
.slider-area .owl-theme .owl-nav.disabled + .owl-dots {
  right: 77px;
}
.description {
  padding: 85px 0;
}
.our-gallery.offset-md-1 {
  margin-left: 10%;
}
.sticky .main-menu nav ul li a {
	padding: 25px 12px;
}
.wrapper-boxed-layout .sticky .main-menu nav ul li a {
	padding: 25px 8px;
}
.wrapper-boxed-layout .main-menu nav ul li a {
  padding: 28px 8px;
}
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.main-menu nav ul li a {
  padding: 28px 15px;
}
.aboutus-video {
  margin-bottom: 50px;
  width: 100%;
}
.person-area {
  width: 28%;
}
.indicator-style .owl-carousel .owl-nav .owl-prev {
  left: -35px;
}
.indicator-style .owl-carousel .owl-nav .owl-next {
  right: -35px;
}
.indicator-style .owl-theme .owl-nav [class*="owl-"] {
  font-size: 38px;
}
.indicator-style .owl-theme .owl-nav {
  top: 35%;
}
.testimonial-content > p {
  padding: 0px;
}
.large-img {
  margin-right: 42px;
}
.grid-item:nth-child(3) {
  margin-left: 0;
}
.grid.gallery-box {
  margin-left: 32px;
}
.slider.slider-nav.slick-initialized.slick-slider {
  width: 249px;
}
.slider-nav {
  right: 15px;
  bottom:42px;
}
.service-details h4 {
  font-size:15px;
}
.contact-address {
  top: 0px;
}
.abt-sm-img {
  right: 0;
}
.service-content {
  margin: 0;
  padding: 24px;
}
.service-icon i {
  font-size: 40px;
  right: 15px;
  top: 20px;
}
.service-text h3 {
  font-size: 20px;
}
.service-text {
  width: 100%;
}
.aboutus-bottom-txt > p {
  width: 100%;
}
.sticky .main-menu nav ul li a {
  padding: 40px 15px;
}
.slide-content h2,.slide-content h1 {
  font-size: 54px;
}
.slide-content h1 {
  margin-bottom:30px;
}
.main-menu {
  padding-right: 70px;
}
.home .logo-img {
  padding-left: 85px;
}
.slide-content {
  padding-left: 80px;
}
.slider-social-area {
  padding-right: 80px;
}
.slider-area .owl-theme .owl-nav.disabled + .owl-dots {
  right: 77px;
}
.description {
  padding: 72px 0;
}
.our-gallery.offset-md-1 {
  margin-left: 15%;
}
.main-menu {
  display: none;
}
.mobile-menu-area {
  display: block;
}
.logo-img {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  text-align: center;
}
.tp-grid {
  margin: 0 auto;
  text-align: center;
}
.sticky .logo-img {
  margin-bottom: 12px;
}
.home .logo-img {
  padding-left: 0;
}
.border-bottom {
	border-bottom: none;
}
.footer-single {
  margin-bottom: 50px;
}
.col-md-6:nth-child(3) .footer-single {
  margin-bottom: 0;
}
.col-md-6:last-child .footer-single {
  margin-bottom: 0;
}
.section-titel {
  width: auto;
}
.testimonial-wrap.testimonial-style .testimonial {
  margin: 0px;
}
}

 
/* small mobile :320px. */
@media (max-width: 767px) {
/* .container {width:300px} */
.main-menu {
  display: none;
}
.mobile-menu-area {
  display: block;
}
.logo-img {
  margin: 20px auto 25px;
  padding-left: 0;
  text-align: center;
}
.home .logo-img {
  padding-left: 0;
}
.slide-content h2 {
  font-size: 28px;
}
.slide-content h1 {
  font-size: 32px;
  margin-bottom: 15px;
}
.slide-content h4 {
  font-size: 26px;
}
.slide-btn a {
  height: 45px;
  line-height: 45px;
  margin-bottom: 20px;
}
.slider-area .owl-theme .owl-nav.disabled + .owl-dots {
  left: 20px;
  margin-top: 50px;
  right: auto;
  top: 62%;
}
.about-content > h2 {
  letter-spacing: 1px;
}
.slider-social-area {
  left: 20px;
  margin-top: 30px;
  padding-right: 0;
  right: auto;
}
.slider-social-area ul li {
  padding-right: 30px;
}
.about-content {
  margin-left: 0;
  margin-top: 40px;
}
.slide-content {
  padding-left: 20px;
}
.aboutus-video {
  width: 100%;
}
.tp-title {
  width: auto;
}
.person-area {
  width: 72%;
}
.project-single {
  margin-bottom: 50px;
}
.col-md-3:last-child .project-single {
  margin-bottom: 0;
}
.section-titel h2 {
  line-height: 40px;
  font-size: 32px;
}
.indicator-style .owl-carousel .owl-nav .owl-prev {
  left: -25px;
}
.indicator-style .owl-carousel .owl-nav .owl-next {
  right: -25px;
}
.indicator-style .owl-theme .owl-nav {
  display: none;
  top: 36%;
}
.section-titel h2::after {
  display: none;
}
.section-titel.two {
  margin-left: 0px;
}
.section-titel {
  margin-left: 0;
  margin-right: 0;
  width: auto;
}
.signature-title {
  margin-left: 0;
}
.gallery-menu {
  margin-bottom: 20px;
  margin-right: 16px;
}
ul.gallery-menu li {
  padding-bottom: 10px;
  padding-left: 22px;
}
.testimonial-content > p {
  padding: 0;
}
.slider-nav{
  display: none;
}
.large-img {
  float: none;
  margin-right: 0;
}
.service-single {
  padding: 38px 22px 35px;
}
.indicator-style .owl-theme .owl-nav [class*="owl-"] {
  font-size: 28px;
}
.footer-single {
  margin-bottom: 50px;
}
.footer-top {
  padding-bottom: 40px;
}
.footer-left {
  float: none;
  text-align: center;
}
.footer-right-social {
  float: none;
  margin-top: 10px;
  text-align: center;
}
.section-titel-img h2 {
  font-size: 25px;
}
.section-titel-img h2::before {
  top: 36px;
}
.contact-address {
  position: unset;
  width: 100%;
  margin-top: 30px;
}
.section-titel-contact {
  margin-left: 0;
}
.section-titel-contact h3::after {
  bottom: 12px;
  left: -77px;
}
.contact-us-map {
  padding-left: 0;
}
.contact-adres-single {
  padding-left: 80px;
}
.contact-adres-single h4::after {
  left: -65px;
  width: 50px;
}
.about-area .section-titel-contact {
  margin-bottom: 40px;
}
.abt-sm-img {
  right: 0;
}
.abt-sm-img {
  position: initial;
  right: 0;
}
.abt-lrg-img {
  margin-left: 0;
  margin-top: 40px;
}
.header-menu {
  border-bottom: medium none;
  margin-top: 0;
}
.servce-img {
  float: none;
}
.servce-img img {
  width: 100%;
}
.service-content {
  margin: 0;
  padding: 50px 20px 30px;
}
.service-text h3 {
  font-size: 18px;
}
.service-text {
  float: left;
  width: 100%;
}
.service-icon i {
  font-size: 26px;
  right: 20px;
}
.popup-gallery, .gallery-image .popup-youtube {
  display: none;
}
.aboutus-bottom-txt > p {
  width: 100%;
}
.description {
  padding: 85px 0;
}
.tp-grid {
  min-width: auto!important;
}
.topbar {
  margin: 0 0 -215px;
  max-width: 100%;
  z-index:99;
}
.tp-grid li {
  height: 225px;
}
.cr-slider-dots-1 ul.slick-dots {
  left: 0;
}
.mean-container .mean-bar{float: inherit;}

}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.slick-slide img {
  width: 100%;
}
.service-icon i {
  font-size: 46px;
  right: 28px;
}
.service-text {
  width: 85%;
}
.service-content{padding:43px 0 22px 50px}
.popup-gallery, .gallery-image .popup-youtube {display: block;}
.tp-grid {
  min-width: auto!important;
}
.topbar {
  margin: 0 0 -275px;
  max-width: 100%;
  z-index:99;
}
.tp-grid li {
  height: 300px;
}
.slide-content {
  padding-left: 75px;
}
.slider-area .owl-theme .owl-nav.disabled + .owl-dots {
  left: 75px;
}
.slider-social-area {
  left: 75px;
}
}
 